@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    direction: rtl;
    font-family: var(--font-sans);
  }
}

.arabic-font {
  font-family: 'Cairo', sans-serif;
}

